.idc-card *, .idc-popover, .idc-card, .idc-cardStandalone {
	clear: none;
	float: none;
	margin: 0;
	padding: 0;
	box-shadow: none;
	border: none;
	text-align: inherit;
	list-style: none;
	text-decoration: none;
	font-family: inherit;
	box-sizing: border-box;
	color: inherit;
}

.idc-hasIcon {
	text-decoration: none!important;
	border: none!important;
	cursor: pointer!important;
	box-shadow:none!important;
	width: 16px;
	height: 16px;
	background: url("https://index.tnwcdn.com/favicon.png") center center no-repeat;
	background-size: 16px 16px;
	display: inline-block;
	vertical-align: middle;
	margin-right: .1em;
	margin-right: .2em;
	margin-left: .2em;
	position: relative;
	top: -2px;
}

.idc-popover {
	position: absolute;
	border-radius: 2px;
	background-color: #000;
	background-color: rgba(51, 51, 51, 0.98);
	color: #fff;
	text-align: center;
	line-height: 1.2;
	z-index: 99999;
	width: 18em;
}
.idc-popover:before {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	margin-bottom: -5px;
	width: 0;
	border-top: 5px solid #000;
	border-top: 5px solid rgba(51, 51, 51, 0.98);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
}

.idc-popover.idc-popover--in {
	pointer-events: none;
	animation: idc-hovercardFade 100ms forwards ease-in-out;
}

.idc-popover.idc-popover--out {
	pointer-events: none;
	animation: idc-hovercardFade 100ms forwards ease-in-out reverse;
}

.idc-cardStandalone {
	border: 1px solid rgba(0,0,0,.075);
	border-radius: 2px;
	width: 18em;
	height: 18em;
	display: inline-block;
}

.idc-card {
	font-family: sans-serif;
	color: inherit;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: transparent;
}

.idc-cardStandalone .idc-card {
	height: 100%;
	width: 100%;
	background: #fff;
}

.idc-card.idc-card--dark {
	background-color: #222;
	color: #fff;
}

.idc-card-header {
	height: 5.7em;
	padding: 1em;
	border-bottom: 1px solid rgba(0,0,0,.075);
	text-align: left;
	overflow: hidden;
	flex: 0 0 auto;
}

.idc-card-header-avatar {
	width: 3.8em;
	height: 3.8em;
	min-width: 3.8em;
	min-height: 3.8em;
	max-width: 3.8em;
	max-height: 3.8em;

	border-radius: 2px;
	margin-right: 1em;
	display: block;
	float: left;
	box-shadow: 0 0 0 1px rgba(0,0,0,.075);
}
.idc-card-header-meta {
	display: block;
	float: left;
}
.idc-card-header-title {
	font-size: 1em;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.idc-card-header-tags {
	max-height: 1.2em;
	font-size: .7em;
	overflow: hidden;
	margin-top: .33em;
	white-space: nowrap;
}
.idc-card-header-tags li {
	display: block;
	float: left;
	margin-right: .25em;
	height: 1.2em;
	line-height: 1.2em;
	font-style: normal;
	opacity: .5;
}
.idc-card-header-tags li:not(:last-child):after {
	content:', ';
}
.idc-card-header-tags li:before {
	font-size: .8em;
}

.idc-card-header:hover .idc-card-header-title {
	color: #3af;
}

.idc-card-tagline {
	margin: 1em;
	font-size: 0.9em;
	line-height: 1.4em;
	max-height: 8.2em;
	text-align: left;
	font-weight: 300;
	overflow: hidden;
	text-overflow: ellipsis;
}

.idc-card-expando {
	flex: 1 1 0;
	display: block;
}

.idc-card-facts {
	font-size: .7em;
	max-height: 2em;
	overflow: hidden;
	margin-left: -.2rem;
	margin-top: .5em;
}

.idc-card-facts li {
	background: #3af;
	color: #fff;
	border-radius: 999999em;
	opacity: .9;
	text-align: left;
	float: left;
	padding: .2rem .4rem;
	margin: .1rem;
	height: 1.6em;
	line-height: 1em;
}

.idc-card-footer {
	text-transform: uppercase;
	font-size: 0.7em;
	padding: 1em;
	border-top: 1px solid rgba(0,0,0,.075);
}

.idc-card-footer {
	text-align: left;
}

.idc-card-footer-blurrable {
	opacity: .5;
}

.idc-card-footer-logo {
	font-weight: 800;
	color: #3af;
}

@keyframes idc-hovercardFade {
	0% {
		transform: translateY(1em);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
